@import 'scss/colors';

.app-container {
  display: flex;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: $black;
  flex-direction: column;
}

.timezones-list {
  display: grid;
  width: 100%;
  padding: 16px;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}
